---
layout: default
title: Home
navigation: home
---
<div id="container" class="home">
  {% for post in paginator.posts %}
    <div class="post {{% if forloop.first %}}first{{%endif%}} {{% if forloop.last %}}last{{%endif%}}">
      <h2><a href="{{post.url}}">{{ post.title }}</a></h2>
      <div class="published">Published: {{ post.date | date: "%a %b %e, %Y" }}</div>
      {% unless post.categories == empty %}
        <div class="categories">
          In: {{post.categories | join: ', '}}
        </div>
      {% endunless %}
      <div class="content">
        {{ post.content }}
      </div>
    </div>
  {% endfor %}
  <div class="next_prev">
    {% if paginator.previous_page %}
      <span class="next">
        {% if paginator.previous_page == 1 %}
          <a href="/">« Newer</a>
        {% else %}
          <a href="/page{{paginator.previous_page}}">« Newer</a>
        {% endif %}
      </span>
    {% endif %}
    {% if paginator.next_page %}
      <span class="prev">
        {% if paginator.next_page == 1 %}
          <a href="/">Older »</a>
        {% else %}
          <a href="/page{{paginator.next_page}}">Older »</a>
        {% endif %}
      </span>
    {% endif %}
  </div>
</div>